.container {
  display: flex;
  justify-content: space-between;
  padding: 9px 7px 7px;
}

.containerItem {
  width: 18px;
  height: 18px;
  cursor: pointer;
  background-color: transparent;

  path {
    fill: #e8e8e8;
  }
}

.containerItemActive {
  path {
    fill: #e8bf42;
  }
}
