.container {
  display: flex;
  max-width: 286px;
  width: 100%;
  justify-content: space-between;
}

.item {
  background-color: transparent;
  color: #c7c7c7;
  font-size: 16px;
  transition: $main-transition;
  position: relative;
  padding: 0;

  &::after {
    content: '';
    position: absolute;
    right: 100%;
    bottom: 0;
    left: 0;
    height: 1px;
    top: 27px;
    background: $primary-color;
    transition: $main-transition;
  }

  &__active {
    font-weight: bold;
  }

  &__active,
  &:hover {
    color: $white-color;

    &::after {
      right: -1px;
    }
  }
}
