.container {
  padding: 15px;
  border-radius: 8px;
  background-color: #f7f7f7;
  position: relative;
  margin-bottom: 20px;
  transition: $main-transition;
}

.blockMore {
  width: 20px;
  height: 20px;
  background-color: transparent;
  position: absolute;
  right: 15px;

  img {
    transform: rotate(180deg);
  }
}

.typeContainer {
  max-width: 203px;
}
