.container {
  position: relative;
  margin-top: 40px;

  h2 {
    font-size: 20px;
    font-weight: bold;
    color: $black-color;
  }
}

.slidLeft {
  align-items: center;
  justify-content: center;
  top: calc(50% - 24px);
  width: 26px;
  height: 26px;
  outline: none;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.5);
  transition: $main-transition;
  left: -13px;
  position: absolute;
  cursor: pointer;

  @include breakpoint(tablet-l) {
    display: none;
  }
}

.slidLeftIcon {
  transform: rotate(-90deg);
}

.slidRight {
  align-items: center;
  justify-content: center;
  top: calc(50% - 24px);
  width: 26px;
  height: 26px;
  outline: none;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.5);
  transition: $main-transition;
  right: -13px;
  position: absolute;
  cursor: pointer;

  @include breakpoint(tablet-l) {
    display: none;
  }
}

.slidRightIcon {
  transform: rotate(90deg);
}

.button {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  background-color: #e8e8e8;
  color: $black-color;
  font-size: 15px;
  margin-top: 5px;
  transition: $main-transition;

  &:hover {
    color: $primary-color;
  }
}

.items {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;

  @include breakpoint(tablet) {
    overflow: auto;
    margin-right: -15px;
    justify-content: unset;
  }
}

.item {
  min-width: 216px;
  height: 160px;
  border-radius: 8px;
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include breakpoint(tablet) {
    margin-right: 15px;
    min-width: 238px;
  }

  p {
    font-size: $base-font-size;
    color: $white-color;
    margin-top: 6px;
  }

  svg {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
}
