// color vars
$black-color: #000;
$white-color: #fff;
$grey-color: #7c7c7c;
$primary-color: #601dc0;
$light-green-color: #20a94a;

// transitions
$main-transition: all 0.3s ease-in-out;

// typography vars
$base-font-size: 14px;
$base-font-family: 'Helvetica', 'Arial', sans-serif;
$neue-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// media queries vars
$mobile-m: 375px;
$tablet-m: 576px;
$tablet: 768px;
$tablet-l: 992px;
$desktop: 1024px;
$wide: 1200px;
